@model PaymentType


<br />
<br />
<br />
<div class="container shadow p-5">
    <div class="row pb-2">
        <h2 style="color: black">Add Payment Type</h2>
    </div>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="PaymentTypeName">Payment Type Name</label>
                <input type="text" class="form-control mb-3" asp-for="PaymentTypeName" placeholder="Enter type name...">
                <span asp-validation-for="PaymentTypeName" class=" alert-danger"></span>
            </div> 
        </div>

        <button type="submit" class="orange-btn">Save</button>
        <a asp-controller="PaymentType" asp-action="Index" class="main-btn ms-lg-3 mt-lg-0 mt-4">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}