@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/User/submit">
    <br />
    <h1>User Registration Form</h1>
    <br /><br />
  <div class="form-group">
    <label for="exampleFormControlInput1">Full Name: </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Name.." name="UserName">
  </div>
  <br />
  <div class="form-group">
    <label for="exampleFormControlInput1">Email: </label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Email.." name="UserEmail">
  </div>
  <br />
  <div class="form-group">
    <label for="exampleFormControlInput1">CNIC: </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your CNIC Number.." name="UserCNIC">
  </div>
  <br />
  <div class="form-group">
    <label for="exampleFormControlInput1">Address: </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Address.." name="UserAddress">
  </div>
  <br /><br />
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
