@model MenuCategory

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Delete Menu Category</h2>
    </div>

    <form method="post" asp-action="DeleteMenuCategory">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="MenuCategoryName">Category Name</label>
                <input type="text" class="form-control mb-3" asp-for="MenuCategoryName" disabled>
                <span asp-validation-for="MenuCategoryName" class=" alert-danger"></span>
            </div> 
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="MenuCategoryDescription">Description</label>
                <input type="text" class="form-control mb-3" asp-for="MenuCategoryDescription" disabled>
                <span asp-validation-for="MenuCategoryDescription" class=" alert-danger"></span>
            </div>
        </div>
         

        <button type="submit" class="orange-btn">Delete</button>
        <a asp-controller="MenuCategory" asp-action="Index" class="main-btn ms-lg-3 mt-lg-0 mt-4">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
