@using RestaurentMS_Final_Project.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model IEnumerable<MenuCategory>

    @{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<div class="p-4 border rounded">

    <h2 style="color: black" >Menu Categories</h2>
    @if (User.IsInRole("Admin"))
    {
        <div class="mb-2">
        <a asp-controller="MenuCategory" asp-action="Create" class="btn btn-md btn-primary"><i class="bi bi-file-plus-fill"></i>Add Category</a>
    </div>
    }
    
    <table class="table table-striped border">

            <tr class="table-secondary">
                <th scope="col">Category Name</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td width="20%">
                        @item.MenuCategoryName
                    </td>
                    <td width="60%">
                        @item.MenuCategoryDescription
                    </td>
                    <td>
                    @if (User.IsInRole("Admin"))
                    {
                         <div role="group" class="w-20 btn-group">
                            <a asp-controller="MenuCategory" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info text-white">Edit</a>&nbsp;
                            <a asp-controller="MenuCategory" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    }
                   
                    </td>
                </tr>
            }

    </table>
</div>