@model MenuItemViewModel

<br />
<br />
<br />
<div class="container shadow p-5">
    <div class="row pb-2">
        <h2 style="color: black">Add Menu Item</h2>
    </div>

    <form method="post" asp-action="Create">
        <div asp-validation-summary="All"></div>

 
            <div class="mb-3 col-md-6">
                <label asp-for="MenuItemName">Item Name</label>
                <input type="text" class="form-control mb-3" asp-for="MenuItemName" placeholder="Enter category name...">
                <span asp-validation-for="MenuItemName" class=" alert-danger"></span>
            </div>



        <div class="mb-3 col-md-6">
                <label asp-for="MenuItemPrice">Price</label>
                <input type="text" class="form-control mb-3" asp-for="MenuItemPrice" placeholder="Enter description">
                <span asp-validation-for="MenuItemPrice" class=" alert-danger"></span>
            </div>



        <div class="mb-3 col-md-6">
                <label asp-for="menuCategoryId" class="col-md-6">Menu Category</label>
                <select asp-for="menuCategoryId" asp-items="@Model.menu" class="form-control">
                    <option disabled selected>--Select Menu--</option>
                </select>
            </div>
            <br />
        <button type="submit" class="orange-btn">Save</button>
        <a asp-controller="MenuItems" asp-action="Index" class="main-btn ms-lg-3 mt-lg-0 mt-4">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}