@using RestaurentMS_Final_Project.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - RestaurentMS_Final_Project</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurentMS_Final_Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />


</head>
<body>
    <!-- header design -->
    <header class="header_wrapper">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: white">
            <div class="container">
                <a class="navbar-brand restaurantHead" asp-area="" asp-controller="Home" asp-action="Index"><img class="brandLogo" src="@Url.Content("~/images/logo.png")" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-stream navbar-toggler-icon"></i>
                </button>

                <!-- Nav Links -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav menu-navbar-nav">
                       
                       
                    
                        @if (SignInManager.IsSignedIn(User))
                        {
                           
                            @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                // User Dropdown
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown" id="nav">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            User
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="User" asp-action="Index">User List</a>
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Register">Add New User</a>
                                        </div>
                                    </li>
                                }

                                // Order Dropdown
                                <li class="nav-item dropdown" id="nav">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Orders
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Order" asp-action="Create">Add New Order</a>
                                        <a class="dropdown-item" asp-controller="Order" asp-action="Index">Orders List</a>
                                    </div>
                                </li>

                                // Menu Category List
                                <li class="nav-item dropdown" id="nav">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Menu Category
                                    </a>
                                    
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="MenuCategory" asp-action="Index">Categories List</a>
                                        @if (User.IsInRole("Admin")){
                                            <a class="dropdown-item" asp-controller="MenuCategory" asp-action="Create">Add New Category</a>
                                        }
                                    </div>
                                </li>

                                // Menu Item Dropdown
                                <li class="nav-item dropdown" id="nav">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Menu Items
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="MenuItems" asp-action="Index">Menu Item List</a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" asp-controller="MenuItems" asp-action="Create">Add New Item</a>
                                        }
                                    </div>
                                </li>

                                // Payment Type Dropdown
                                <li class="nav-item dropdown" id="nav">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Payment Type
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="PaymentType" asp-action="Index">Payment Type List</a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" asp-controller="PaymentType" asp-action="Create">Add New Type</a>
                                        } 
                                    </div>
                                </li>

                                //Contact Messages
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="ContactIndex" class="nav-link">Contact</a>
                                </li>
                               
                            }
                           @* <li class="nav-item">
                                <a class="nav-link" href="#">Hello @UserManager.GetUserName(User)</a>
                            </li>*@
                            <li class="nav-item">
                                <form id="logoutForm" method="post" class="form-inline" asp-controller="Account"
                                  asp-action="Logout">
                                    <button type="submit" class="orange-btn">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#story">Our Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#gallery">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contactForm">Contact Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="orange-btn" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>

                        
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>



  
    <div class="container " >
        <main role="main" class="pb-3">
            <br />
            <br />
            <br />

            @RenderBody()
        </main>
    </div>

    <!-- section-9 footer-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Restaurant Management System - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/main.js" asp-append-version="true"></script>
    <script asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script asp-append-version="true" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
