@if (TempData["success"] != null)
{
    <br />
    <br />
    <br />
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success! </strong>@TempData["success"]
    </div>
}

<h1>Forgot Password Confirmation</h1>
<p>
    Please check your email to reset your password.
</p>
